<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2 columns...*/
            grid-gap: 10px;
        }
        .grid-item {
            width: 100%;
            height: 380px; /* Adjust height as needed */
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item" id="firstGrid">
            <div id="serialNumber">Loading Serial Number...</div>
            <div id="gridID">Loading Grid ID...</div>
        </div>
        <div class="chart-container">
            <div style="width: 100%; height: 100%;">
                <canvas id="azelChart"></canvas>
            </div>
        </div>
        <div class="chart-container">
            <div style="width: 100%; height: 100%;">
                <canvas id="schedChart"></canvas>
            </div>
        </div>
        <div class="grid-item"></div>
        <!--  More DIVSSS!!!
        <div class="grid-item"></div>
        <div class="grid-item"></div>
         -->
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

  
  
