# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Additional ignores
output_file.txt
Received/
SATTracker.pcapng
preUpload/
rsync.log
RFSS_SA.log
Latest_TLE.txt
tempCodeRunnerFile.js
schedule.csv
tempCodeRunnerFilepython3 -u
.vscode/settings.json
toDemod/
pause_flag.txt
Tools/Testing/manualCaptures/*
scanData/
commutationData/
output_map.html