# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Additional ignores
output_file.txt
Received/
SATTracker.pcapng
preUpload/
rsync.log
RFSS_SA.log
Latest_TLE.txt
Tools/Report_Exports/schedule.csv
tempCodeRunnerFile.js
