DateTime==5.2
PyVISA==1.13.0
PyVISA-py==0.7.0
RsFsw==5.20.1
RsInstrument==1.53.1
schedule==1.2.0
gunicorn==21.2.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
pymongo==4.5.0
flask==2.3.3
flask-compress==1.14
flask-cors==4.0.0
zeroconf==0.112.0 # Added for pyVISA HiSLIP
scipy==1.10.0
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability