<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
    <title>Calendar</title>
    <style>
        .blue {
            background-color: blue;
            color: white;
            }
        .yellow {
            background-color: yellow;
            }
        .grey {
            background-color: lightslategrey;
            color: white;
            }
    </style>
</head>
<body>
    <body class="text-xs">  <!-- could be text-base to make all text bigger...-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var today = new Date().toISOString().split('T')[0];
          document.getElementsByName("date")[0].setAttribute('max', today);
        });
    </script>
    <h1 class="flex justify-center text-lg mb-8">
        Today's Events - {{ current_utc_time }} UTC for GridID:&emsp;
        <a href="https://www.karhukoti.com/maidenhead-grid-square-locator-desktop-map/?grid={{ location }}" target="_blank" style="color: blue; text-decoration: underline; font-weight: bold;">{{ location }}</a>
    </h1>
    <!-- Date selection form elements -->
    <div class="flex justify-center items-center mb-8">
        <form action="/events" method="post" class="flex justify-center">
            <input type="date" name="date" class="mr-4">
            <input type="submit" value="Show Events for Selected Date" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        </form>
    </div>
    {% if event %}
    <table class="mx-auto max-w-full text-center border border-gray-300">
        <thead class="bg-gray-100">
            <tr>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">Pass</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m">Date</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">AOS (UTC)</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">LOS (UTC)</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">AOS (EST)</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">LOS (EST)</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">Satellite</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">MaxElevation</th>
            </tr>
        </thead>
        <tbody>
            {% for item in event %}
                <tr class="{{ item.highlight }}">
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.Pass }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ date_from_db }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.AOS }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.LOS }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.AOS_EST }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.LOS_EST }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.Satellite }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.MaxElevation }}</td>
                </tr>
            {% endfor %}
        </tbody>        
    </table>
    <div class="mt-4">
        <h4 class="text-center text-xs mb-2">Legend:</h4>
        <div class="flex justify-center">
            <div class="flex items-center mr-4">
                <div style="width: 24px; height: 24px; background-color: lightslategrey; border: 1px solid black;"></div>
                <span class="ml-2 text-xs">Processed</span>
            </div>
            <div class="flex items-center mr-4">
                <div style="width: 24px; height: 24px; background-color: blue; border: 1px solid black;"></div>
                <span class="ml-2 text-xs">Current Schedule</span>
            </div>
            <div class="flex items-center mr-4">
                <div style="width: 24px; height: 24px; background-color: yellow; border: 1px solid black;"></div>
                <span class="ml-2 text-xs">Next Schedule</span>
            </div>
        </div>
    </div>
    {% else %}
        <p><center>No events received today - Wait unitl 00:00 UTC for next schedule</p></center>
    {% endif %}
    <!-- Wrapper to center-align all elements -->
    <div class="flex flex-col items-center">
        <br></br>
        <!-- Elements for displaying azimuth and elevation -->
        <div class="flex justify-center items-center mb-8">
            <div id="actualAzimuth" class="mr-4 py-2 px-4 bg-blue-200 p-2 rounded"></div>
            <div id="actualElevation" class="mr-4 py-2 px-4 bg-blue-200 rounded"></div>
        </div>
    <!-- Form elements for manual scanning -->
        <div id="azFormDiv" class="flex flex-col items-center mb-8">
            <form id="azForm" action="/set_az" method="post" class="flex flex-col items-center">
                <div class="flex justify-center">
                    <div class="flex flex-col justify-center items-center mr-4">
                        <label for="startingAZ" class="text-center">Starting AZ:</label>
                        <input type="text" id="startingAZ" name="startingAZ" class="border border-gray-600 bg-white text-black py-2 px-4 rounded text-center" style="opacity: 0.5">
                    </div>
                    <div class="flex flex-col justify-center items-center mr-4">
                        <label for="endingAZ" class="text-center">Ending AZ:</label>
                        <input type="text" id="endingAZ" name="endingAZ" class="border border-gray-600 bg-white text-black py-2 px-4 rounded text-center" style="opacity: 0.5">
                    </div>
                </div>
                <div class="flex justify-center items-center mb-8">
                    <div class="flex flex-col justify-center items-center mr-4">
                        <label for="centerFreq" class="text-center">Center Frequency (MHz):</label>
                        <input type="text" id="centerFreq" name="centerFreq" class="border border-gray-600 bg-white text-black py-2 px-4 rounded text-center" style="opacity: 0.5">
                    </div>
                    <div class="flex flex-col justify-center items-center mr-4">
                        <label for="span" class="text-center">Span (MHz):</label>
                        <input type="text" id="span" name="span" class="border border-gray-600 bg-white text-black py-2 px-4 rounded text-center" style="opacity: 0.5">
                    </div>
                    <div class="flex flex-col justify-center items-center mr-4">
                        <label for="points" class="text-center">Num Points:</label>
                        <input type="text" id="points" name="points" class="border border-gray-600 bg-white text-black py-2 px-4 rounded text-center" style="opacity: 0.5">
                    </div>
                </div>
                    <div class="flex items-center mt-4">
                        <input type="submit" id="submitAzButton" value="Submit AZ" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                        <div class="ml-4 flex items-center">
                            <input type="checkbox" id="pauseSchedule" disabled> 
                            <span class="ml-2">Pause Schedule</span>
                        </div>
                        <div class="ml-4 flex items-center">
                            <input type="checkbox" id="iqOption" name="iqOption" disabled> 
                            <span class="ml-2">Collect IQ</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const checkbox = document.getElementById('pauseSchedule');
            const azFormDiv = document.getElementById('azFormDiv');
            const startingAZ = document.getElementById('startingAZ');
            const endingAZ = document.getElementById('endingAZ');
            const centerFreq = document.getElementById('centerFreq');
            const span = document.getElementById('span');
            const points = document.getElementById('points');
            const iqOption = document.getElementById('iqOption');

            // Set initial state based on checkbox state
            function toggleFormState(isEnabled) {
                azFormDiv.style.opacity = isEnabled ? "1" : "0.5";
                [startingAZ, endingAZ, centerFreq, span, points, submitAzButton, iqOption].forEach(elem => elem.disabled = !isEnabled);
            }

            toggleFormState(checkbox.checked);        

            // Update state when checkbox changes
            checkbox.addEventListener('change', function() {
                toggleFormState(this.checked);

                let route, formData;

                if (this.checked) {
                    route = '/pause_schedule';
                    formData = new FormData(document.getElementById('azForm'));
                } else {
                    route = '/unpause_schedule';
                    formData = null;
                }

                fetch(route, { method: 'POST', body: formData })
                    .then(response => response.text())
                    .then(text => text ? JSON.parse(text) : null)
                    .then(data => data && console.log(data))
                    .catch(error => console.error('An error occurred:', error));
            });

            // Function to handle form submission
            document.getElementById('azForm').addEventListener('submit', function(e) {
                e.preventDefault();
                const formData = new FormData(this);

                let formValues = {
                    extractedStartingAZ: formData.get('startingAZ'),
                    extractedEndingAZ: formData.get('endingAZ'),
                    extractedCenterFreq: formData.get('centerFreq'),
                    extractedSpan: formData.get('span'),
                    extractedPoints: formData.get('points')
                };
                
                // Round center frequency and span to 2 decimal places
                formValues.extractedCenterFreq = parseFloat(formValues.extractedCenterFreq).toFixed(4);
                centerFreq.value = formValues.extractedCenterFreq;
                formValues.extractedSpan = parseFloat(formValues.extractedSpan).toFixed(2);
                span.value = formValues.extractedSpan;
                
                // Form validation for outside range or text
                if (isNaN(formValues.extractedStartingAZ) || isNaN(formValues.extractedEndingAZ) || formValues.extractedStartingAZ < 0 || formValues.extractedStartingAZ > 360 || formValues.extractedEndingAZ < 0 || formValues.extractedEndingAZ > 360) {
                    alert('Please enter valid azimuth values between 0 and 360.');
                    return;
                }

                // Validation for center frequency and span
                if (isNaN(formValues.extractedCenterFreq) || formValues.extractedCenterFreq <= 0 ||
                    isNaN(formValues.extractedSpan) || formValues.extractedSpan <= 0) {
                    alert('Please enter a valid positive Center Frequency and Span.');
                    return;
                }

                // Points validation 
                if (!Number.isInteger(parseFloat(formValues.extractedPoints)) || parseFloat(formValues.extractedPoints) < 101 || parseFloat(formValues.extractedPoints) > 8000) {
                    alert('Points must be an integer between 101 and 8000.');
                    return;
                }
                // Ending AZ == Starting AZ if Ending AZ is blank (i.e., spot point) 
                if (!formValues.extractedEndingAZ) {
                    formValues.extractedEndingAZ = formValues.extractedStartingAZ;
                    endingAZ.value = formValues.extractedEndingAZ;
                    formData.set('endingAZ', formValues.extractedEndingAZ);
                }

                formData.set('centerFreq', parseFloat(parseFloat(formValues.extractedCenterFreq).toFixed(2)).toString());
                formData.set('span', parseFloat(parseFloat(formValues.extractedSpan).toFixed(2)).toString());

                // Append the IQ option checkbox state to the formData
                formData.append('iqOption', document.getElementById('iqOption').checked);

                fetch('/set_az', {
                    method: 'POST',
                    body: formData
                });
            });

            function toggleCheckboxState(azimuth, elevation) {
                if (azimuth === 450 && elevation === 180) {
                    checkbox.disabled = true;
                } else {
                    checkbox.disabled = false;
                }
            }

            // Function to update the actual azimuth and elevation
            function updateActualAzEl() {
                fetch('/get_actual_AzEl')
                    .then(response => response.json())
                    .then(data => {
                        if (data.actual_az === 450.000000 && data.actual_el === 180.000000) {
                            document.getElementById('actualAzimuth').innerText = "Controller Disconnected";
                            document.getElementById('actualElevation').innerText = "Controller Disconnected";
                        } else {
                            document.getElementById('actualAzimuth').innerText = `Actual Azimuth: ${data.actual_az}\u00B0`;
                            document.getElementById('actualElevation').innerText = `Actual Elevation: ${data.actual_el}\u00B0`;
                        }
                        toggleCheckboxState(data.actual_az, data.actual_el);
                    });
            }

            // Function to check server for pause state and update checkbox
            function checkPauseState() {
                fetch('/check_pause_state', {
                    method: 'GET'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.paused !== undefined) {
                        checkbox.checked = data.paused;
                        toggleFormState(data.paused); 

                        if (data.paused) {
                            console.log('Scheduling is paused.');
                        }
                    }
                })
                .catch(error => console.error('An error occurred:', error));
            }

            // Update the actual azimuth and elevation every second
            setInterval(updateActualAzEl, 2000);

            // Update the checkbox state every two second
            setInterval(checkPauseState, 1000);

        });
    </script>

</body>
</html>
