<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="300">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
    <title>Calendar</title>
    <style>
        .blue {
            background-color: blue;
            color: white;
            }
        .yellow {
            background-color: yellow;
            }
        .grey {
            background-color: lightslategrey;
            color: white;
            }
    </style>
</head>
<body>
    <body class="text-xs">  <!-- could be text-base to make all text bigger...-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var today = new Date().toISOString().split('T')[0];
          document.getElementsByName("date")[0].setAttribute('max', today);
        });
    </script>
    <h1 class="flex justify-center text-lg mb-8">
        Today's Events - {{ current_utc_time }} UTC for GridID:&emsp;
        <a href="https://www.karhukoti.com/maidenhead-grid-square-locator-desktop-map/?grid={{ location }}" target="_blank" style="color: blue; text-decoration: underline; font-weight: bold;">{{ location }}</a>
    </h1>
    <div class="flex justify-center items-center mb-8">
        <form action="/events" method="post" class="flex">
            <input type="date" name="date" class="mr-4">
            <input type="submit" value="Show Events for Selected Date" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        </form>
    </div>
    {% if event %}
    <table class="mx-auto max-w-full text-center border border-gray-300">
        <thead class="bg-gray-100">
            <tr>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">Pass</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m">Date</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">AOS (UTC)</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">LOS (UTC)</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">AOS (EST)</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">LOS (EST)</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">Satellite</th>
                <th class="py-1 px-2 border whitespace-nowrap text-m"">MaxElevation</th>
            </tr>
        </thead>
        <tbody>
            {% for item in event %}
                <tr class="{{ item.highlight }}">
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.Pass }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ date_from_db }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.AOS }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.LOS }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.AOS_EST }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.LOS_EST }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.Satellite }}</td>
                    <td class="py-1 px-2 border whitespace-nowrap text-m">{{ item.MaxElevation }}</td>
                </tr>
            {% endfor %}
        </tbody>        
    </table>
    <div class="mt-4">
        <h4 class="text-center text-xs mb-2">Legend:</h4>
        <div class="flex justify-center">
            <div class="flex items-center mr-4">
                <div style="width: 24px; height: 24px; background-color: lightslategrey; border: 1px solid black;"></div>
                <span class="ml-2 text-xs">Processed</span>
            </div>
            <div class="flex items-center mr-4">
                <div style="width: 24px; height: 24px; background-color: blue; border: 1px solid black;"></div>
                <span class="ml-2 text-xs">Current Schedule</span>
            </div>
            <div class="flex items-center mr-4">
                <div style="width: 24px; height: 24px; background-color: yellow; border: 1px solid black;"></div>
                <span class="ml-2 text-xs">Next Schedule</span>
            </div>
        </div>
    </div>
    {% else %}
        <p><center>No events received today - Wait unitl 00:00 UTC for next schedule</p></center>
    {% endif %}
</body>
</html>
