<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
    <title>Events</title>
</head>
<body>
    <body class="text-xs">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var today = new Date().toISOString().split('T')[0];
          document.getElementsByName("date")[0].setAttribute('max', today);
        });
    </script>
    <h1 class="text-center text-lg mb-4">Today's Events - {{ current_time }}</h1>
    <center><form action="/events" method="post">
        <input type="date" name="date">
        <input type="submit" value="Show Events for Selected Date">
    </form></center>

    <table class="mx-auto max-w-full text-center border border-gray-300">
        <thead class="bg-gray-100">
            <tr>
                <th class="py-1 px-2 border whitespace-nowrap text-xs">Pass</th>
                <th class="py-1 px-2 border whitespace-nowrap text-xs">DayofWeek</th>
                <th class="py-1 px-2 border whitespace-nowrap text-xs">AOS</th>
                <th class="py-1 px-2 border whitespace-nowrap text-xs">LOS</th>
                <th class="py-1 px-2 border whitespace-nowrap text-xs">AOS (EST)</th>
                <th class="py-1 px-2 border whitespace-nowrap text-xs">LOS (EST)</th>
                <th class="py-1 px-2 border whitespace-nowrap text-xs">Satellite</th>
                <th class="py-1 px-2 border whitespace-nowrap text-xs">MaxElevation</th>
            </tr>
        </thead>
        <tbody>
            {% for item in event['schedule'] %}
                <tr>
                    <td class="py-1 px-2 border">{{ item.Pass }}</td>
                    <td class="py-1 px-2 border">{{ item.DayofWeek }}</td>
                    <td class="py-1 px-2 border">{{ item.AOS }}</td>
                    <td class="py-1 px-2 border">{{ item.LOS }}</td>
                    <td class="py-1 px-2 border">{{ item.AOS_EST }}</td>
                    <td class="py-1 px-2 border">{{ item.LOS_EST }}</td>
                    <td class="py-1 px-2 border">{{ item.Satellite }}</td>
                    <td class="py-1 px-2 border">{{ item.MaxElevation }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
